@font-face {
  font-family: calculator;
  src: url(fonts/Calculator.woff);
}
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
#headerLine{
	height: 40px;
	min-width: 1000px;
	background-color: #1876B2;
	/*margin: auto;
	margin-top: -10px;*/
	padding: auto;	
	display: block;
}
body{
	display: block;
	background-color: #FFE0B4;
	display: block;
	margin: auto;
}
header{
	width: 1000px;
	height: 150px;
	background-color: #B29770;
	margin: auto;
	display: block;
}
main{
	width: 1000px;
	height: 800px;
	background-color: #CDECFF;
	margin: auto;
	display: block;
}
footer{
	width: 1000px;
	height: 70px;
	background-color: #B29770;
	margin: auto;
	display: block;
}
h1{
	text-align: center;
	padding-top: 30px;
	font-family: "Trebuchet MS";
	font-size: 40px;
	margin-top: 0px;
}

.dropbtn {
	background-color: #1876B2;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
	margin: 0 16px;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #1553a5;
  }